In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os
import numpy as np
from pathlib import Path
from collections import Counter

In [3]:
# Read the CSV file into a Pandas DataFrame
file_path = Path('COVID-19_Case_Surveillance_Public_Use_Data_with_GeographyCLEAN.csv')
df = pd.read_csv(file_path)

In [6]:
df.head()

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,2020-12,OH,39.0,MARION,39101.0,50 to 64 years,Female,NaN,NaN,NaN,NaN,Clinical evaluation,Unknown,Probable Case,Asymptomatic,No,No,No,Yes
1,2020-08,IA,19.0,LINN,19113.0,18 to 49 years,Male,White,Hispanic/Latino,1.0,0.0,Clinical evaluation,Yes,Laboratory-confirmed case,Symptomatic,No,No,No,Yes
2,2020-09,NH,33.0,CARROLL,33003.0,50 to 64 years,NaN,NaN,NaN,NaN,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,Yes,Yes,No,Yes
3,2020-03,NY,36.0,GREENE,36039.0,18 to 49 years,Male,NaN,NaN,1.0,0.0,Missing,Yes,Laboratory-confirmed case,Symptomatic,Yes,No,No,Yes
4,2020-08,NY,36.0,MONTGOMERY,36057.0,50 to 64 years,Female,NaN,NaN,15.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,No,No,No,Yes

In [11]:
df = df.replace("No",0)

In [12]:
df = df.replace("Yes",1)

In [21]:
df.head()

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,2020-12,OH,39.0,MARION,39101.0,50 to 64 years,Female,NaN,NaN,NaN,NaN,Clinical evaluation,Unknown,Probable Case,Asymptomatic,0,0,0,1
1,2020-08,IA,19.0,LINN,19113.0,18 to 49 years,Male,White,Hispanic/Latino,1.0,0.0,Clinical evaluation,1,Laboratory-confirmed case,Symptomatic,0,0,0,1
2,2020-09,NH,33.0,CARROLL,33003.0,50 to 64 years,NaN,NaN,NaN,NaN,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,1,1,0,1
3,2020-03,NY,36.0,GREENE,36039.0,18 to 49 years,Male,NaN,NaN,1.0,0.0,Missing,1,Laboratory-confirmed case,Symptomatic,1,0,0,1
4,2020-08,NY,36.0,MONTGOMERY,36057.0,50 to 64 years,Female,NaN,NaN,15.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,0,0,0,1

In [20]:
pd.get_dummies(df, columns=["sex"])

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,race,ethnicity,case_positive_specimen_interval,case_onset_interval,...,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn,sex_Female,sex_Male,sex_Missing,sex_Unknown
0,2020-12,OH,39.0,MARION,39101.0,50 to 64 years,NaN,NaN,NaN,NaN,...,Probable Case,Asymptomatic,0,0,0,1,1,0,0,0
1,2020-08,IA,19.0,LINN,19113.0,18 to 49 years,White,Hispanic/Latino,1.0,0.0,...,Laboratory-confirmed case,Symptomatic,0,0,0,1,0,1,0,0
2,2020-09,NH,33.0,CARROLL,33003.0,50 to 64 years,NaN,NaN,NaN,0.0,...,Laboratory-confirmed case,Symptomatic,1,1,0,1,0,0,0,0
3,2020-03,NY,36.0,GREENE,36039.0,18 to 49 years,NaN,NaN,1.0,0.0,...,Laboratory-confirmed case,Symptomatic,1,0,0,1,0,1,0,0
4,2020-08,NY,36.0,MONTGOMERY,36057.0,50 to 64 years,NaN,NaN,15.0,NaN,...,Laboratory-confirmed case,Missing,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
579294,2020-07,TX,48.0,NaN,NaN,18 to 49 years,Missing,Hispanic/Latino,NaN,0.0,...,Laboratory-confirmed case,Symptomatic,0,0,0,1,0,1,0,0
579295,2020-09,TX,48.0,NaN,NaN,18 to 49 years,White,Non-Hispanic/Latino,1.0,0.0,...,Laboratory-confirmed case,Symptomatic,0,0,0,0,1,0,0,0
579296,2021-10,TX,48.0,NaN,NaN,50 to 64 years,White,Non-Hispanic/Latino,0.0,NaN,...,Laboratory-confirmed case,Symptomatic,1,1,0,1,0,1,0,0
579297,2020-05,TX,48.0,NaN,NaN,18 to 49 years,White,Hispanic/Latino,0.0,0.0,...,Laboratory-confirmed case,Symptomatic,0,0,0,1,0,1,0,0
579298,2020-12,TX,48.0,NaN,NaN,50 to 64 years,Missing,NaN,1.0,0.0,...,Laboratory-confirmed case,Symptomatic,1,0,0,1,0,1,0,0

In [52]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df2 = df.copy()
df2['age_group'] = le.fit_transform(df2['age_group'])
df2['sex'] = le.fit_transform(df2['sex'])

df2=df2.drop(columns=["case_month", "res_state", "res_county", "race", "ethnicity", "case_positive_specimen_interval", "case_onset_interval", "process", "exposure_yn", "current_status","symptom_status"])

In [53]:
df2

,state_fips_code,county_fips_code,age_group,sex,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,39.0,39101.0,2,0,0,0,0,1
1,19.0,19113.0,1,1,0,0,0,1
2,33.0,33003.0,2,4,1,1,0,1
3,36.0,36039.0,1,1,1,0,0,1
4,36.0,36057.0,2,0,0,0,0,1
...,...,...,...,...,...,...,...,...
579294,48.0,NaN,1,1,0,0,0,1
579295,48.0,NaN,1,0,0,0,0,0
579296,48.0,NaN,2,1,1,1,0,1
579297,48.0,NaN,1,1,0,0,0,1
579298,48.0,NaN,2,1,1,0,0,1

In [76]:
#remove any last strings
df2 = df2[~df.isin(['Missing', 'Unknown']).any(axis=1)]
df2 = df2.dropna()

C:\Users\kristen.rizzo\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [77]:
df2

,state_fips_code,county_fips_code,age_group,sex,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
1,19.0,19113.0,1,1,0,0,0,1
8,39.0,39075.0,1,0,0,0,0,1
11,39.0,39127.0,2,0,0,0,0,1
12,39.0,39139.0,1,0,0,0,0,1
13,39.0,39091.0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...
545477,32.0,32003.0,3,1,0,0,0,1
545478,32.0,32003.0,3,1,1,0,1,1
545479,32.0,32003.0,3,1,0,0,0,1
545483,32.0,32003.0,3,1,0,0,0,1
545492,32.0,32003.0,3,1,0,0,0,1

In [78]:
# Define the features set.
y = df2["death_yn"]
#X = df2["underlying_conditions_yn"]
X = df2.drop(columns="death_yn")
X.head()

,state_fips_code,county_fips_code,age_group,sex,hosp_yn,icu_yn,underlying_conditions_yn
1,19.0,19113.0,1,1,0,0,1
8,39.0,39075.0,1,0,0,0,1
11,39.0,39127.0,2,0,0,0,1
12,39.0,39139.0,1,0,0,0,1
13,39.0,39091.0,0,1,0,0,1

In [79]:
# Define the target set.
y = df2["death_yn"].values
y[:5]

array([0, 0, 0, 0, 0], dtype=int64)

In [80]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [81]:
# Determine the shape of our training and testing sets. 75% 25% split
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(113682, 7)
(37895, 7)
(113682,)
(37895,)

In [82]:
from sklearn.preprocessing import StandardScaler
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [83]:
from sklearn import tree

# Creating the decision tree classifier instance.
model = tree.DecisionTreeClassifier()
# Fitting the model.
model = model.fit(X_train_scaled, y_train)

In [84]:
# Making predictions using the testing data.
predictions = model.predict(X_test_scaled)

In [85]:
predictions

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [86]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0        37100           83
Actual 1          555          157

In [87]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [88]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0        37100           83
Actual 1          555          157

Accuracy Score : 0.9831640058055152
Classification Report
              precision    recall  f1-score   support

           0       0.99      1.00      0.99     37183
           1       0.65      0.22      0.33       712

    accuracy                           0.98     37895
   macro avg       0.82      0.61      0.66     37895
weighted avg       0.98      0.98      0.98     37895